{% load staticfiles %}

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}Milton Glaser Archive{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/mga.css" %}" type="text/css" media="screen" charset="utf-8" />
    {% block extrahead %}{% endblock %}
</head>

<body>
    <div id="container">
        <div id="menu">
            {% block nav-global %}

                <!-- MENU -->
                <h1><a href="{% url 'portfolio' %}">Milton Glaser Archive</a></h1>
                {% if user.is_staff %}
                <div class="adminpanel">
                    <a href="{% url 'admin:index' %}">Admin</a> | 
                    <a href="{% url 'admin:portfolio_image_add' %}">+ Add Image</a>
                </div>
                {% endif %}

            {% endblock %}
        </div>

        <div id="content">
            
            {% load taggit_templatetags2_tags %}
            {% get_taglist as tags for 'portfolio.Image' %}
            <div style="float:right; width:300px;">
                <h3>Tags</h3>
                <ul>
                  {% for tag in tags %}
                    <li><a href="{% url 'tagged' tag.slug %}">{{ tag }}</a> ({{tag.num_times}})</li>
                  {% empty %}
                    <li>No Tags</li>
                  {% endfor %}
                </ul>
            </div>
            {% block content %}{% endblock %}
        </div>
    </div>

</body>
</html>

