{% extends "portfolio/base.html" %}

{% block content %}

    <style type="text/css" media="screen">
        li { float: left; }
        ul { margin-left: -30px; }
    </style>

    <div class="main">

            <div class="title">
                <h1>{{ category.title }}</h1>
            </div>
                <div class="quiet">
                View:
                <a href="{% url 'category' category.pk 'thumbnails' %}">Medium</a> | 
                <a href="{% url 'category' category.pk 'thumbnails2' %}">Small</a> | 
                <a href="{% url 'category' category.pk 'full' %}">Large</a> | 
                {% if user.is_authenticated %}
                    <a href="{% url 'category' category.pk 'edit' %}">Edit</a> | 
                    <a href="{% url 'add_images' category.pk %}">+ Add Images</a>
                {% endif %}
                </div>
                <br>
                {% include "portfolio/messages.html" %}
                <br>
                {% if show == "edit" %}
                    <form action="" method="POST">{% csrf_token %}
                    {{ formset.management_form }}
                {% endif %}

                {% for form in formset %}
                    {{ form.id }}
                    {% with form.instance as img %}

                    <!-- FULL VIEW  -->
                    {% if show == "full" %}
                        <div>
                          <h1>{{ img.title }}</h1>
                            <a href="{{ img.image_url }}">
                            <img border="0" alt="" src="{{ img.image_url }}" alt="Slide {{ forloop.counter|add:'1' }}">
                            </a>
                          <p>{{ img.description }}</p>
                        </div>
                    {% endif %}

                    <!-- EDIT VIEW  -->
                    {% if show == "edit" %}
                        <div class="edit">
                        <a href="{{ img.get_absolute_url }}" >
                            <img class="edit-thumb" border="0" alt="" src="{{ img.thumbnail1_url }}" /></a>

                        <table class="edit-table">
                            {% for fld in form %}
                                <tr><td>{{ fld.label }}</td>
                                <td class="field">{{ fld }} {{ fld.errors }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div class="clear"></div>
                        </div>
                    {% endif %}

                    <!-- THUMBNAILS VIEW  -->
                    {% if show == "thumbnails" or show == "thumbnails2" %}

                    <ul class="thumbs{% if show == "thumbnails" %} thumbnails{% else %} thumbnails2{% endif %}">
                        <li>
                            <a href="{{ img.get_absolute_url }}"><img border="0" alt="" src="{% if show == "thumbnails" %}{{ img.thumbnail1_url }}{% else %}{{ img.thumbnail2_url }}{% endif %}" /></a>
                            <br />
                        <div class="thumbnail"><h2>{{ img.title }}</h1>&nbsp;{% if img.rating %}[{{ img.rating }}]{% endif %}</div>
                        </li>
                    </ul>
                    {% endif %}

                    {% endwith %}
                {% endfor %}

                {% if show == "edit" %}
                    <div id="update"><input type="submit" value="Update"></form></div>
                {% endif %}
            </div>

        {% include "portfolio/paginator.html" %}
    </div>

{% endblock %}
